<div class="container">
    <h1>Gallery</h1>
    <div class="image-container">
        <img src="./gallery/1.webp">
        <img src="./gallery/2.webp">
        <img src="./gallery/3.jpg">
        <img src="./gallery/4.jpg">
        <img src="./gallery/5.webp">
        <img src="./gallery/6.jpg">
        <img src="./gallery/7.webp">
        <img src="./gallery/8.webp">
        <img src="./gallery/9.webp">
        <img src="./gallery/10.webp">
        <img src="./gallery/11.webp">
        <img src="./gallery/12.webp">
        <img src="./gallery/13.jpeg">
        <img src="./gallery/14.jpeg">
        <img src="./gallery/15.jpeg">
        <img src="./gallery/16.jpeg">
        <img src="./gallery/17.jpeg">
        <img src="./gallery/18.jpeg">
        <img src="./gallery/19.jpeg">
        <img src="./gallery/20.jpeg">
        <img src="./gallery/21.jpeg">
        <img src="./gallery/22.jpeg">
    </div>
</div>