<div class="container">
    <h1>Contact Us</h1>
    <p>We'd love to hear from you! Whether you have questions about our services, need a free estimate, or want to
        schedule
        an appointment, our team at <strong>ClearPathKingston</strong> is here to help. Reach out to us today—we're
        ready to
        make your property look its best!</p>
    <hr>
    <h2>Get in Touch</h2>
    <p><span class="material-symbols-outlined" style="vertical-align: middle; font-size: 20px;">call</span> <strong>Call
            Us: </strong> <a href="tel:3433335912"> (343) 333-5912</a> <strong> *preferred</strong></p>
    <p><span class="material-symbols-outlined" style="vertical-align: middle; font-size: 20px;">mail</span>
        <strong>Email Us: </strong> <a href="mailto:clearpathkingston@gmail.com">clearpathkingston&#64;gmail.com</a>
    </p>
</div>