.container {}

.material-symbols-outlined {
    font-size: 20pt;
    margin: auto;
    color: #517abf
}

.material-symbols-outlined:hover,
.material-symbols-outlined:focus {
    cursor: pointer;
    font-size: 21pt;
}