.container {
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}

.left-side {
    display: flex;
}

app-toolbar {
    margin: auto;
}

.material-symbols-outlined {
    font-size: 20pt;
    margin: auto;
    color: #517abf;
    margin: auto 0;
}

.material-symbols-outlined:hover,
.material-symbols-outlined:focus {
    cursor: pointer;
    font-size: 21pt;
}

img {
    width: auto;
    height: 60px;
    margin: auto;
}

img:hover,
img:focus {
    cursor: pointer;
}

p {
    margin: 0;
}

.search-container {
    margin: 15px auto;
    width: 70%;
    display: flex;
}

.boxes {
    width: 90%;
    min-width: 500px;
    border-radius: 5px;
}

.search-box {
    width: 90%;
    min-width: 500px;
    border-radius: 5px;
    border: #517abf solid 2px;
    font-size: 12pt;
    display: flex;
    height: 35px;
    margin: 10px 10px 0px;
}

.search-box input {
    width: 90%;
    border: none;
    color: #517abf;
    border-radius: 5px;
}

.search-box input:focus {
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 9%;
    margin: 1%;
}

.buttons span {
    font-size: 14pt;
    transition: transform 0.15s;
    display: inline-block;
}

.buttons span:hover {
    transform: scale(1.07);
}

.vl {
    margin: auto;
    border-left: 1px solid gray;
    height: 20px;
}

.result-box {
    width: 90%;
    min-width: 500px;
    border: #ffffff solid 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 10px;
}

.result-box p {
    margin: 2px;
    font-size: 10pt;
}

.page-result {
    height: 20px;
    background-color: #ffffff;
}