.container {
    height: 90px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
}

.left-side {
    display: flex;
}

app-toolbar {
    margin: auto;
}

.material-symbols-outlined {
    font-size: 20pt;
    margin: auto;
    color: #517abf;
    margin: auto 0;
}

.material-symbols-outlined:hover,
.material-symbols-outlined:focus {
    cursor: pointer;
    font-size: 21pt;
}

img {
    width: auto;
    height: 60px;
    margin: auto;
}

img:hover,
img:focus {
    cursor: pointer;
}

p {
    margin: 0;
}

.search-overlay {
    position: fixed;
    top: 130px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 130px);
    background: rgba(81, 122, 191, 0.4);
    z-index: 1000;
}

.search-container {
    z-index: 1001;
    margin: 20px auto;
    width: 70%;
    min-width: 650px;
    max-width: 1300px;
    display: flex;

}

.boxes {
    width: 90%;
    min-width: 500px;
    border-radius: 5px;
}

.search-box {
    width: 90%;
    min-width: 500px;
    border-radius: 5px;
    border: #517abf solid 2px;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin: 8px 50px 0px;
    box-sizing: border-box;
}

.search-box input {
    width: 90%;
    margin: 0px 0px 0px 3px;
    border: none;
    color: #517abf;
    border-radius: 5px;
}

.search-box input:focus {
    outline: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    margin: 0 8px;
}

.buttons span {
    font-size: 18pt;
    transition: transform 0.15s;
    display: inline-block;
}

.buttons span:hover {
    transform: scale(1.07);
}

.vl {
    margin: auto;
    border-left: 1px solid gray;
    height: 18px;
}

.result-box {
    width: 90%;
    min-width: 500px;
    border: 1px solid gray;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 50px;
    box-sizing: border-box;
}

.result-box h3 {
    margin: 2px 5px 0px;
    font-size: 8pt;
    font-weight: 600;
    color: #517abf;
}

.page-result p {
    margin: 0px 5px;
    padding: 5px 0px 0px;
    font-size: 10pt;
    color: #174da9
}

.page-result p:hover,
.page-result p:focus {
    background-color: lightgray;
    margin: 0px 0px;
    padding: 5px 5px;
    cursor: pointer;
    text-decoration: underline;
}

.catch-all {
    margin: 0px 5px;
    padding: 5px 0px;
    font-size: 10pt;
    color: #174da9
}

.catch-all:hover,
.catch-all p:focus {
    background-color: lightgray;
    margin: 0px 0px;
    padding: 5px 5px;
    cursor: pointer;
}

.page-result {
    height: 20px;
    background-color: #ffffff;
}

hr {
    margin: 2px 2px 0px;
    height: .1px;
    border: 0 none;
    background-color: gray;
}

.arrow {
    font-size: 12pt;
    color: black;
    float: right;
}

.catch-all:hover .arrow {
    transform: scale(1.07);
    transition: font-size 0.15s;
}

@media screen and (max-width: 600px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-container {
        width: 90%;
        min-width: 300px;
    }

    .boxes {
        width: 100%;
        min-width: 300px;
    }

    .search-box {
        width: 100%;
        min-width: 300px;
    }

}