<head>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<div class="container">
    <ng-container *ngIf="!searchClicked">
        <div class="left-side">
            <img src="logo.avif" alt="Logo" tabindex="0" (click)="onClick()" (keyup.enter)="onClick()">
            <app-toolbar></app-toolbar>
        </div>
        <span class="material-symbols-outlined" tabindex="0" (click)="onSearchClick()" (keyup.enter)="onSearchClick()">
            search
        </span>
    </ng-container>
    <ng-container *ngIf="searchClicked">
        <div class="search-overlay"></div>
        <div class="search-container">
            <div class="boxes">
                <div class="search-box">
                    <input #searchInput type="text" id="searchInput" [(ngModel)]="currText" placeholder="Search"
                        (input)="searchPages()">
                    <div class="buttons">
                        <span class="material-symbols-outlined" (click)="deleteInput()" (keyup.enter)="deleteInput()">
                            cancel
                        </span>
                        <div class="vl"></div>
                        <span class="material-symbols-outlined" (click)="search()" (keyup.enter)="search()">
                            search
                        </span>
                    </div>
                </div>
                <ng-container *ngIf="currText != ''">
                    <div class="result-box" [style.height.px]="35 + (pageResults.length * 35)">
                        <ng-container *ngIf="pageResults.length > 0">
                            <h3>Pages</h3>
                            <hr>
                            <ng-container *ngFor="let page of pageResults">
                                <div class="page-result" (click)="pageClick(page)" (keyup.enter)="pageClick(page)">
                                    <p>{{page}}</p>
                                </div>
                            </ng-container>
                            <hr class="end">
                        </ng-container>
                        <p class="catch-all" (click)="search()" (keyup.enter)="search()">Search for "{{currText}}" <span
                                class="material-symbols-outlined arrow">
                                arrow_forward
                            </span></p>
                    </div>
                </ng-container>
            </div>
            <span class="material-symbols-outlined" (click)="closeSearch()" (keyup.enter)="closeSearch()">
                close
            </span>
        </div>
    </ng-container>
</div>