.material-symbols-outlined {
    font-size: 20pt;
    color: #517abf;
    margin: 1% 0;
}

h2 {
    text-align: center;
    color: #174da9;
}

.search-container {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.boxes {
    width: 90%;
    min-width: 500px;
    border-radius: 5px;
}

.search-box {
    width: 100%;
    min-width: 500px;
    border-radius: 5px;
    border: #517abf solid 2px;
    font-size: 12pt;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    margin: 8px 55px 0px;
    box-sizing: border-box;
}

.search-box input {
    width: 93%;
    margin: 0px 0px 0px 3px;
    border: none;
    color: #517abf;
    border-radius: 5px;
}

.search-box input:focus {
    outline: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    min-width: 60px;
    max-width: 60px;
    margin: 0 8px;
}

.buttons span {
    font-size: 18pt;
    transition: transform 0.15s;
    display: inline-block;
}

.buttons span:hover {
    transform: scale(1.07);
    cursor: pointer;
}

.vl {
    margin: auto;
    border-left: 1px solid gray;
    height: 18px;
}

h3 {
    margin: 5px 5px;
    color: #174da9;
}

.page-result p {
    margin: 0px 5px;
    font-size: 10pt;
    color: #174da9
}

.page-result:hover,
.page-result:focus {
    background-color: lightgray;
    cursor: pointer;
    text-decoration: underline;
}

.page-result {
    height: 40px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

hr {
    margin: 2px 2px 0px;
    background-color: gray;
}

.result-container {
    margin: 20px auto;
    flex-basis: 100%;
}

.no-results {
    color: #517abf;
}

@media screen and (max-width: 600px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .search-container {
        width: 90%;
        min-width: 300px;
        justify-content: space-between;
    }

    .boxes {
        width: 90%;
        min-width: 300px;
    }

    .search-box {
        width: 90%;
        min-width: 300px;
    }

    .result-box {
        width: 90%;
        min-width: 300px;
    }

}